<!DOCTYPE html>
<html lang="en">
    <head>
            <%- include('partials/head') -%>
            <link rel="stylesheet" href="css/home.min.css">
    </head>
    
    <body>
        <%- include('partials/nav') -%>

        <%- include('partials/home/home_page')-%>
        
        <%- include('partials/basket') -%>

        <%- include('partials/footer') -%>
        <%- include('partials/scripts') -%>
    </body>
</html>

