<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') -%>
    <body>
        <%- include('partials/nav') -%>

        dit is voor spacing
        <%- include('partials/basket') -%>

        <%- include('partials/footer') -%>
        <%- include('partials/scripts') -%>
    </body>
</html>

